* {
margin: 0px;
padding: 0px;

}

.title  {
    text-align: center;
}

.subtitle {
    text-align: center;
}

.input{
    display: flex;
    justify-content: center;
    }

.control {
display: flex;
justify-content: center;
padding-left: 45px;
}

button.has-background-info-light {
font-size: 15px;
width: 100%;
display: flex;
justify-content: center;

}

.choose {
    font-weight: bolder;
    font-size: 15px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.planner{
    font-weight: bolder;
    font-size: large;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.question {
display: flex;
justify-content: left;
padding-bottom: 10px;
padding-left: 75px;
}

