.title  {
    text-align: center;
}

.subtitle {
    text-align: center;

}

.control {
padding-left: 55px;

}

div.content {
display: flex;
width: fit-content;
text-align: center;
margin: auto;
padding: 10px;
background-color:lightgoldenrodyellow;
color: #fad2d2;
}

.choose {
    font-weight: bolder;
    font-size: large;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.planner{
    font-weight: bolder;
    font-size: large;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

}

.question {
    margin: 10px;
    padding-left: 55px;
    padding-top: 10px;


}