.title  {
    text-align: center;
}

.subtitle {
    text-align: center;

}

.control {
padding-left: 55px;

}

div.card {
    padding: 2px;
    border-radius: 15px;
}

div.card-content {
    display: flex;
    background-color: skyblue;
    width: 300px;
    justify-content: center;
    margin: auto;
    border:solid teal;
    border-radius: 15px;
}

div.content {
display: flex;
width: 250px;
height: fit-content;
justify-content: center;
text-align: center;
margin: auto;
background-color:lightgoldenrodyellow;
color: #f3a7a7;
border-radius: 10px;
padding: 5px;
}

.choose {
    font-weight: bolder;
    font-size: large;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.planner{
    font-weight: bolder;
    font-size: large;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

}

.question {
    margin: 10px;
    padding-left: 55px;
    padding-top: 10px;


}